/*=============== VARIABLES ===============*/
@import "../../scss/variables.scss";

/*=============== HEADER ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $body-color;
    z-index: $z-fixed;
    transition: box-shadow 0.4s, background-color 0.4s;
}