/*=============== VARIABLES ===============*/
@import "../../scss/variables.scss";

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: $black-color;
    display: inline-flex;
    padding: 8px;
    font-size: 1.25rem;
    color: $white-color;
    z-index: $z-tooltip;
    transition: bottom .4s, transform .4s, background-color .4s;
    border-radius: 50%;
}

.scrollup:hover {
    transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}