/*=============== VARIABLES ===============*/
@import "../../utils/variables.scss";

/*=============== MIXINS ===============*/
@import "../../utils/mixins.scss";

/*=============== SERVICES ===============*/
.services {
    background-color: $container-color;
}

.services__container {
    row-gap: 2rem;
    grid-template-columns: 250px;
    justify-content: center;
    padding-top: 1rem;
}

.services__card {
    position: relative;
    text-align: center;
    /* Initialisation de l'animation des cards */
    animation: fade-in 2s ease-in-out backwards;
    opacity: 1;
    @for $i from 2 through 4 {
    /* Initialisation du delay d'animation */
        &:nth-child(#{$i}){
            animation-delay: $i * 300ms;
        }
    }
}

/* Processus d'animation des cards */
@keyframes fade-in {
    0% { 
        transform: translatex(100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

.services__content {
    height: 100%;
    width: 100%;
    background-color: $body-color;
    border: 4px solid $black-color;
    border-radius: 0.75rem;
    padding: 6rem 1rem 3rem;
    position: relative;
    transition: background-color 0.4s, border 0.4s;
}

.services__border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid $first-color;
    border-radius: 0.75rem;
    top: 0;
    left: 0;
    transition: transform 0.4s;
}

.services__card:hover .services__border {
    transform: translate(0.75rem, 0.75rem);
}

.services__icon {
    position: relative;
    display: inline-block;
}

.services__icon i {
    font-size: 3rem;
    color: $black-color;
    position: relative;
    z-index: 5;
}

.services__box {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $first-color;
    right: -2px;
    top: -2px;
}

.services__title {
    font-size: $h2-font-size;
    margin-bottom: 1rem;
}

.services__description {
    height: 8rem;
    margin-bottom: 3rem;
}

/* Modal */
.services__modal {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For Safari */
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    z-index: $z-modal;
    transition: opacity 0.4s, visibility 0.4s;
}

.services__modal-content {
    max-width: 420px;
    position: fixed;
    background-color: $container-color;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    padding: 3.5rem 1.5rem;
    border-bottom: 6px solid $first-color;
    overflow: auto;
}

.services__modal-content::-webkit-scrollbar {
    width: 0.6rem;
}

.services__modal-content::-webkit-scrollbar-thumb {
    background-color: $text-color-light;
}

.services__modal-title {
    font-size: $h2-font-size;
    margin-bottom: 2.5rem;
}

.services__modal-list {
    margin-left: 1rem;

}

.services__modal-item {
    text-align: initial;
    list-style: outside;
}

.services__modal-item::marker {
    color: $first-color;
}

.services__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: $first-color;
    cursor: pointer;
}

/* Active modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .services__modal {
        padding-inline: 0.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .services__container {
        grid-template-columns: 320px;
        justify-content: center;
    }
    .services__modal-content {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .services__container {
        grid-template-columns: repeat(2, 320px);
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .services__container {
        grid-template-columns: repeat(3,282px);
        column-gap: 5rem;
        padding-block: 3rem 5rem;
    }
    .services__content {
        padding: 6.5rem 1.5rem 3.5rem;
        border: 6px solid $black-color;
    }
    .services__icon i {
        font-size: 3rem;
    }
    .services__box {
        width: 32px;
        height: 32px;
    }
    .services__title {
        margin-bottom: 1.5rem;
    }
    .services__card:hover .services__border {
        transform: translate(1.25rem, 1.25rem);
    }
    .services__modal-content {
        max-height: 480px;
        padding: 5.5rem 2rem;
    }
    .services__modal-close {
        font-size: 2rem;
    }
}