/*=============== VARIABLES ===============*/
@import "../utils/variables.scss";

/*=============== BUTTON SERVICE ===============*/
.button__service {
    background-color: $black-color;
    color: $white-color;
    border-radius: 0.75rem;
    padding: 1.1rem 1.5rem;
    font-weight: $font-medium;
    transition: background-color 0.4s;
}


.button__service:hover {
    cursor: pointer;
    background-color: $first-color;
}