/*=============== VARIABLES ===============*/
@import "../utils/variables.scss";

/*=============== FAQ ===============*/
.faq {
    background-color: $container-color;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__title {
    font-size: $h1-font-size;
    margin: 2rem 0rem;

}

.faq__content {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $white-color;
    cursor: pointer;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__question h3 {
    font-size: 1.8rem;
    padding-right: 1rem;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq__answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq__content.active .faq__answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq__content.active .faq__icon {
    transform: rotate(180deg);
}

.faq__icon {
    color: $black-color;
    font-size: 2rem;
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}