/*=============== VARIABLES ===============*/
@import "../utils/variables.scss";

/*=============== BUTTON ===============*/

.button, .button__ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.button {
    background-color: $black-color;
    padding: 1.1rem 1.5rem;
    color: $white-color;
    font-weight: $font-medium;
    border-radius: 0.75rem;
    transition: background-color 0.4s;
}

.button i {
    font-size: 1.25rem;
}

.button:hover {
    background-color: $first-color;
}

.button__ghost {
    border: 3px solid $black-color;
    color: $black-color;
    padding: 0.5rem;
    border-radius: 0.7rem;
    transition: border 0.4s, color 0.4s;
}

.button__ghost i {
    font-size: 1.25rem;
}

.button__ghost:hover {
    border: 3px solid $first-color;
}