/*=============== VARIABLES ===============*/
@import "../utils/variables.scss";

/*=============== MIXINS ===============*/
@import "../utils/mixins.scss";

/*=============== ABOUT ===============*/
.about {
    background-color: $container-color;
    transition: background-color 0.4s;
}

.about__container {
    row-gap: 0;
}

.about__perfil {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
}

.about__image {
    width: 220px;
}

.about__img {
    position: relative;
    border: 4px solid $white-color;
    z-index: 1;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.about__shadow, .about__line, .about__box {
    position: absolute;
    border-radius: 0.75rem;
}

.about__shadow {
    width: 150px;
    height: 385px;
    background-color: $body-color;
    top: -2.5rem;
    right: -3.5rem;
    border-bottom: 4px solid $first-color;
    transition: background-color 0.4s;
}

.about__perfil .geometric-box {
    top: 1.5rem;
    right: -2.8rem;
}

.about__line {
    filter: invert(1);
    right: -1.25rem;
    top: 6rem;
    width: 50px;
    transition: filter 0.4s;
}

.about__box {
    width: 40px;
    height: 40px;
    background-color: $first-color;
    right: -0.5rem;
    bottom: 1.5rem;
}

.about__info {
    padding-left: 1.25rem;
}

.about__description {
    position: relative;
    color: $title-color;
    margin-bottom: 1.5rem;
}

.about__description::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: $title-color;
    position: absolute;
    left: -1.75rem;
    top: 0.5rem;
}

.about__description-link {
    position: relative;
    text-decoration: underline;
    color: $first-color;
    font-weight: $font-medium;
    transition: color 0.4s;
    &:hover {
        cursor: pointer;
    }
}

.about__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.about__skills-title {
    font-size: $h3-font-size;
    text-align: center;
    margin-bottom: 2rem;
}

.about__skills-img {
    position: relative;
    width: 35px;
    transition: transform 0.4s;
}

.about__skills-img:hover {
    transform: translateY(-0.5rem);
}

.about__skills-hover-text {
    position: absolute;
    font-size: $small-font-size;
    color: $text-color;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about__skills-img:hover .about__skills-hover-text {
    opacity: 1;
}

.about__skills-img .about__skills-hover-text::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $first-color;
    transition: width 0.3s ease;
    transition-delay: 0.3s; /* Délai avant l'apparition du soulignement */
}

.about__skills-img:hover .about__skills-hover-text::after {
    width: 100%;
}

.about__skills-content {
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem 1.5rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .about__image {
        width: 180px;
    }
    .about__shadow {
        height: 330px;
        right: -2.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .about__container{
        grid-template-columns: 350px;
        justify-content: center;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .about__container {
        grid-template-columns: 460px 525px;
        gap: 1rem 9rem;
        align-items: center;
        padding-block: 1rem;
    }
    .about__perfil {
        order: -1;
        grid-row: 1 / 3;
    }
    .about__image {
        width: 350px;
    }
    .about__img {
        border: 6px solid $white-color;
    }
    .about__shadow {
        width: 240px;
        height: 615px;
        top: -4rem;
        right: -5.5rem;
        border-bottom: 6px solid $first-color;
    }
    .about__perfil .geometric-box {
        right: -4rem;
        top: 4.5rem;
    }
    .about__line {
        width: 80px;
        right: -2rem;
        top: 10rem;
    }
    .about__box {
        width: 64px;
        height: 64px;
        right: -.75rem;
    }
    .about__container .section__title-1 {
        align-self: flex-end;
        margin-inline: 0;
    }
    .about__info {
        align-self: flex-start;
        padding-left: 3rem;
    }
    .about__description {
        font-size: $h2-font-size;
        margin-bottom: 2rem;
    }
    .about__description::after {
        width: 32px;
        height: 2px;
        left: -3rem;
        top: 14px;
    }
    .about__buttons {
        justify-content: initial;
    }
    .button__ghost {
        padding: 0.75rem;
    }
    .button__ghost i {
        font-size: 1.5rem;
    }
    .about__skills-title {
        text-align: initial;
    }
    .about__skills-content {
        grid-template-columns: repeat(7, max-content);
        justify-content: initial;
    }
    .about__skills-img {
        width: 40px;
    }
}