/*=============== VARIABLES ===============*/
@import "../../scss/variables.scss";

/*=============== SLIDE ===============*/
.slides__container {
    display: grid;
    place-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.slides {
    height: 50vh;
    width: 95%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    border: 4px solid $white-color;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
        30% {
        opacity: 1;
        transform: scale(1.03);
    }
    50% {
        opacity: 0;
    }
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (min-width: 375px) {
    .slides__container {
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .slides__container {
        display: grid;
    }
}